.overall{
    display:grid;
    grid-template-columns: 150px 250px 250px;
    column-gap:10px;
    height: 200px;
}
.des{
    display:grid;
    grid-template-rows: 50px 50px 50px;
}
.pro{
    background-color: red;
    display:grid;
    grid-template-rows:2fr 1fr;
    row-gap: 20px;
}
.pic{
    display: block;
    height: 100%;
    width: 100%;
}
.img1{
    display: block;
    height: 100%;
    width: 100%;
}
.data{
    justify-content: center;
    display:grid;
    grid-template-rows: 50px 50px 50px;
    row-gap: 20px;
}
.title{
    color:black;
    text-transform: uppercase;
}
.data{
    align-items: center;
    grid-template-columns: 50px 1fr;
    height: 75px;
    column-gap: 50px;
}
.img2{
    display: block;
    height: 100%;
    width:100%;
    border-radius: 100% 100%;
}
button{
    background-color: blue;
    color:white;
    border-radius: 5%;
    box-shadow: none;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color:transparent;
    transition: 0.5s;
    opacity: 0.01;
}